// Import all stylesheets related to Apptastic
// --------------------------------------------------

	@import "activity";
	@import "buttons";
	@import "discussions";
	@import "dropdowns";
	@import "footer";
	@import "forms";
	@import "header";
	@import "login";
	@import "mebox";
	@import "modals";
	@import "nojs";
	@import "panels";
	@import "profile";
	@import "sprites";
	@import "stickies";

// Assorted code will be put here for the time being
// --------------------------------------------------

* {
	@include box-sizing(border-box);
}

html {
	#Frame {
		display: none;
	}
	&.js {
		#Frame {
			display: block;
		}
	}
}

h1, h2, h3, h4, h5, h6,
p, legend, body {
	color: #404f60;
}

a {
	color: #4593de;
	@include transition(color .2s linear);
	&:hover {
		color: #12659a;
	}
}

.Count:empty {
	display: none;
}

.CommentHeading, .CommentForm h2.H, .Profile h2.H {
	@extend legend;
	
	font-size: 18px;
}

.navbar .brand {
	color: #dde2e7;
	display: block;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);
	font-size: 26px;
	line-height: 1;
	font-weight: bold;
}

.body,
.sidebar {
	overflow-y: scroll;
	overflow-x: visible;
}

#content .sidebar {
	width: 300px;
}

.Active,
.wysihtml5-command-active {
	@extend .active;
}