.DataTable {
	margin-top: 0;
	margin-bottom: 0;
	thead td {
		padding-top: 0;
		border-top: none;
	}
}

.DataList {
	margin-top: 0;
	margin-bottom: 0;
	&.Comments {
		margin-top: 15px;
		.Item {
			margin-left: 74px;
		}
	}
}

.MessageList.Discussion .Item,
.MessageList.Comments .Item {
	position: relative;
	padding: 7px 12px 7px;
	//background: #F9F9F9;
	margin: 0 0 15px;
	margin-left: 74px;
	border: 1px solid #E5E6E7;
	@include border-radius(3px);
	@include box-shadow(0 1px 5px rgba(0, 0, 0, 0.05));
	&:before, &:after {
		content: " ";
		border-top-color: transparent !important;
		border-bottom-color: transparent !important;
		border-left-color: transparent !important;
		border-style: solid;
		border-width: 5px;
		height: 0;
		width: 0;
		left: -11px;
		top: 8px;
		position: absolute;
	}
	&:before {
		border-color: #E5E6E7;
	}
	&:after {
		float: left;
		left: -10px;
		border-color: white;
	}
	
	.AuthorWrap {
		display: inline;
	}
	
	.Author .PhotoWrap {
		margin: -7px 0 0 -86px;
	}
	
	.ProfilePhotoMedium {
		width: 64px;
		height: 64px;
		@include border-radius(3px);
	}
	
	.Meta {
		display: inline;
		margin-left: 10px;
	}
	
	.Message {
		margin: 10px 0 0;
	}
	
}

.MessageList.Discussion,
.CommentsWrap {
	max-width: 840px;
}

.CommentForm .FormWrapper {
	padding-left: 74px;
	
	form > div {
		position: relative;
	}
	
	.TextBoxWrapper,
	.Preview {
		padding: 7px 12px 7px;
		border: 1px solid #E5E6E7;
		@include border-radius(3px);
		@include box-shadow(0 1px 5px rgba(0, 0, 0, 0.05));
		&:before, &:after {
			content: " ";
			border-top-color: transparent !important;
			border-bottom-color: transparent !important;
			border-left-color: transparent !important;
			border-style: solid;
			border-width: 5px;
			height: 0;
			width: 0;
			left: -11px;
			top: 8px;
			position: absolute;
		}
		&:before {
			border-color: #E5E6E7;
		}
		&:after {
			float: left;
			left: -10px;
			border-color: white;
		}
		
		textarea {
			resize: none;
			margin-bottom: 0;
			padding: 0;
			border: none;
			background: none;
			@include box-shadow(none);
			@include border-radius(none);
		}
		
	}
	
	.Preview {
		color: #404F60;
		&:before, &:after {
			left: -10px;
			top: 9px;
		}
		&:after {
			left: -9px;
		}
		.Message {
			margin-top: 0;
		}
	}
	
}

.CommentFormWrap {
    margin-top: 20px;
	.ProfilePhotoMedium {
		width: 64px;
		height: 64px;
		@include border-radius(3px);
	}
}

.EditCommentForm .FormWrapper {
	padding: 0;
	background: none;
	
	textarea {
		resize: none;
		padding: 0;
		border: none;
		background: none;
		@include box-shadow(none);
		@include border-radius(none);
	}
	
}

.Reactions {
	margin: 10px -12px -7px;
	padding: 5px 12px;
	background: #F9F9F9;
	border-top: 1px solid #EEE;
	font-size: 11px;
	@include border-radius(0 0 2px 2px);
	&:empty {
		display: none;
	}
}

#wysihtml5-toolbar {
	margin-bottom: 10px;
}

.BarWrap {
    background: transparent;
    border: 0px;
}

.CurrentUploader {
  overflow:visible;
}
