.dropdown-menu {
	@include border-radius(4px);
	li > a {
		font-size: 13px;
		color: #6D757E;
		padding: 3px 15px;
		&:hover {
			color: white;
			background-color: #4593DE;
			background-image: none;
		}
	}
	.divider {
		height: 2px;
		margin: 5px 1px;
	}
}

.OptionsMenu .caret {
	@include opacity(0.3);
}

.ToggleFlyout.Open {
	z-index: 210;
}

.Section-DiscussionList {

    .DataTable {
    	.Item {
    		position: relative;
    		.Options {
    			position: absolute;
    			top: 50%;
    			right: 0;
    			height: 22px;
    			margin-top: -11px;
    			
    		}
    	}
    }

}

.Item {
	.OptionsMenu {
		display: none;
		
	}
	&.Open .OptionsMenu {
		display: inline;
	}
	&:hover .OptionsMenu {
		display: inline;
	}
}