textarea {
	@include transition(height 0.2s ease);
}

input[type="radio"],
input[type="checkbox"] {
	margin: 0 3px 0 0;
}

.FormWrapper {
	background: none;
	padding: 0;
	max-width: 840px;
}

.select2-container {
	min-width: 260px;
	.select2-choice {
		height: 28px;
	}
}

.select2-results {
	.select2-highlighted {
		background: #4593de;
	}	
}

body.Entry form ul li label {
	padding: 0;
}

#Form_User_Register {
	max-width: 420px;
}

.ActivityFormWrap,
.MessageForm {
	max-width: 840px;
}

form.Activity textarea {
	margin-bottom: 0;
}

.CommentFormWrap {
	.Back {
		display: inline-block;
		line-height: 28px;
	}
}

.Category label {
	line-height: 28px;
}