/*#dashboard_entry_signin #content {
	background: rgb(119,131,147);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(119,131,147,1) 0%, rgba(67,76,84,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(119,131,147,1)), color-stop(100%,rgba(67,76,84,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(119,131,147,1) 0%,rgba(67,76,84,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(119,131,147,1) 0%,rgba(67,76,84,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(119,131,147,1) 0%,rgba(67,76,84,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(119,131,147,1) 0%,rgba(67,76,84,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#778393', endColorstr='#434c54',GradientType=1 );
	
	.body {
		padding: 0;
		height: 100%;
	}
	
	.Entry {
		width: 350px;
		height: 300px;
		position: relative;
		top: 50%;
		margin: -170px auto 0;
		/*padding: 50px;
		background: white;
		@include border-radius(4px);
		@include box-shadow(0 0 6px rgba(0, 0, 0, 0.5));
	}
	
	.MainForm {
		padding: 0;
	}
	
	h1 {
		color: #fff;
		font-size: 30px;
		font-weight: bold;
		text-shadow: 0 1px 4px rgba(0,0,0,0.68);
		letter-spacing: -1px;
		margin: 0 0 15px;
	}
	
	a {
		color: #fff;
		text-shadow: 0 1px 2px rgba(0,0,0,0.68);
	}
	
	label {
		font-size: 18px;
		line-height: 24px;
		margin: 0 0 10px;
	}
	
	label, .CreateAccount {
		color: #243748;
		text-shadow: 0 1px 1px rgba(255,255,255,0.33);
	}
	
	.CheckBoxLabel {
		font-size: 14px;
	}
	
	.ForgotPassword {
		margin-right: 10px;
	}
	
	.btn {
		color: white;
	}
	
	input[type="text"],
	input[type="password"] {
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background-color: rgba(0, 0, 0, 0.14);
		background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.1)));
		background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
		background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c000000', endColorstr='#19000000', GradientType=0);
		padding: 5px 8px;
		-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
		-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
		text-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);
		color: white;
		border: 1px solid rgba(0,0,0,.5);
		font-size: 18px;
		line-height: 1.5;
		&:focus {
			background-color: rgba(0, 0, 0, 0.2);
			background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.1)));
			background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
			background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000', endColorstr='#19000000', GradientType=0);
			-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
			-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
			box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
		}
	}
	
}*/