html.no-js {
	height: 100%;
	#Frame {
		display: none;
		visibility: hidden;
	}
	body {
		height: 100%;
		background: rgb(119,131,147);
		background: -moz-radial-gradient(center, ellipse cover,  rgba(119,131,147,1) 0%, rgba(67,76,84,1) 100%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(119,131,147,1)), color-stop(100%,rgba(67,76,84,1)));
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(119,131,147,1) 0%,rgba(67,76,84,1) 100%);
		background: -o-radial-gradient(center, ellipse cover,  rgba(119,131,147,1) 0%,rgba(67,76,84,1) 100%);
		background: -ms-radial-gradient(center, ellipse cover,  rgba(119,131,147,1) 0%,rgba(67,76,84,1) 100%);
		background: radial-gradient(ellipse at center,  rgba(119,131,147,1) 0%,rgba(67,76,84,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#778393', endColorstr='#434c54',GradientType=1 );
	}
	h1 {
		color: #fff;
		font-size: 30px;
		font-weight: bold;
		text-shadow: 0 1px 4px rgba(0,0,0,0.68);
		letter-spacing: -1px;
		margin: 0 0 15px;
	}
	.sorry p {
		color: #243748;
		font-size: 18px;
		line-height: 24px;
		margin: 0 0 15px;
		text-shadow: 0 1px 1px rgba(255,255,255,0.33);
	}
	a {
		color: white;
		text-shadow: 0 1px 4px rgba(0,0,0,0.68);
	}
}